/* style.tcss */

MainApp ContentSwitcher {
    height: 1fr; /* This "pushes" the widget to fill the screen */
    width: 100%;
}

MainApp #nav_bar {
    height: 3; /* Ensure it's tall enough for Tabs + Buttons */
}
